html
html
   head
      title Form Tester
   body
      form(action = "/", method = "POST")
         div
            Mint Tokens
            label(for = "mint_address") Address:
            input(name = "mint_address" value = "")
            label(for = "mint_quantity") How Many?:
            input(name = "mint_quantity" value = """) 
            button(type = "submit")         
         br
         div
            Burn Coins
            label(for = "mint_quantity") How Many?:
            input(name = "mint_quantity" value = """) 
            button(type = "submit")        
         br
         div
            Transfer Ownership
            label(for = "to") To:
            input(name = "to" value = "Express forms")
         br         
